# Ignore virtual environments
.venv/
venv/

# Python cache / compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore data files (optional)
data/*.csv
data/*.xlsx

# Ignore Jupyter checkpoint files
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db
